.Email a {
  font-size: calc(100vw / 15);
  color: #e69964;
  text-decoration: inherit;
}
.Email a:hover {
  color: #85471e;
  text-decoration: inherit;
}
.LinkedIn {
  margin-top: 20px;
}
.LinkedIn a {
  color: #0276b5c0;
}
.LinkedIn a:hover {
  color: #0277b5;
}
