.Twitter a {
  color: rgba(28, 161, 242, 0.7);
}
.YouTube a {
  color: rgba(230, 7, 7, 0.7);
}
.Instagram a {
  color: rgba(236, 28, 174, 0.7);
}
.Twitter a:hover {
  color: rgb(73, 143, 194);
}
.YouTube a:hover {
  color: rgba(230, 7, 7);
}
.Instagram a:hover {
  color: rgba(236, 28, 174);
}
