/*
* Source of animation: "https://jsfiddle.net/AntonTrollback/nqQc7/"; Thank you Anton!
*/
.Icon {
  position: relative;
  overflow: hidden;
  width: 100px;
  display: inline-block;
  height: 100px;
  margin-top: 9px;
  cursor: "pointer";
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  filter: brightness(95%);
  background-image: url(../../../assests/icon/maz-icon.png);
  background-size: cover;
}
/**
   * The "shine" element
   */

.Icon:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -100%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(10, 10, 10, 0.13) 0%,
    rgba(58, 57, 57, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(20, 20, 20, 0) 100%
  );
}

/* Hover state - trigger effect */

.Icon:hover:after {
  opacity: 1;
  top: -10%;
  left: 100%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */

.Icon:active:after {
  opacity: 0;
}
.Icon:hover {
  filter: brightness(100%);
}
