.Links {
  color: #33691e;
  text-decoration: inherit;
}
.Footer {
  background-color: inherit;
  border-top: 1px solid #89b0ae;
  padding: 15px;
  margin-top: 50px;
  border-radius: 0px;
  min-height: 9vh;
  opacity: 95%;
}
