.PostHeader {
  text-align: left;
  margin-bottom: 30px;
  padding-left: 8%;
}
.PostHeader h3 {
  color: #e69964;
  /*font-size: calc(100vw / 16);*/
}
.PostImage {
  height: 60vh;
  width: fit-content;
}
Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.PostBody {
  padding-right: 10%;
  padding-left: 10%;
}
.Splitter {
  padding-top: 30px;
  padding-bottom: 20px;
  color: #e69964;
}
@media (min-width: 2000px) {
  .PostHeader h3 {
    font-size: 7rem;
  }
}

@media (max-width: 800px) {
  .PostHeader h3 {
    font-size: 2.4rem;
  }
}

@media (max-width: 600px) {
  .PostHeader h3 {
    /* Never get smaller than this */
    font-size: 2.3rem;
  }
}
